<div class="home-page-posts animated fadeIn ">
  <% posts.forEach(function(post) { console.log(post)%>
    <article class="post">
        <div class="post-preview col-xs-12  no-gutter">
            <h2><a href="post.html"><%=post.title%></a></h2>

            <p><%=post.short%></p>

            <p class="meta">
                <a href="category.html"><%=post.category.title%></a> <i class="link-spacer"></i> <%=relativeDate(post.date)%>
            </p>
        </div>
    </article>
  <% }); %>
</div>
