<section class="sidebar col-md-5 col-sm-12" style="background-image: url(img/sidebars/saintp_1.jpg)">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

    <div class="site-info">
        <div class="primary-info">
            <h1><%=t('layout.sidebar.title'); %></h1>
            <p><%=t('layout.sidebar.subtitle'); %></p>
        </div>
        <div class="secondary-info">
            <p>
                <a class="btn btn-primary" href="/contact/"><i class="fa fa-user-plus"></i><%=t('layout.sidebar.contactButton'); %></a>
            </p>
        </div>
    </div>
</section>