<% layout('layouts/pageWithSidebar') -%>
<div class="author-bio">

    <img src="img/author.jpg">

    <div class="author-bio__info">
        <h1>Michelle Jones</h1>
        <div class="sub-nav">
            <a href="#" class="select-posts active">
              <%=t('layout.nav.posts')%>
            </a>
            <a href="#" class="select-photos">
              <%=t('layout.nav.albums')%>
            </a>
            <a href="#" class="select-categories">
              <%=t('layout.nav.categories')%>
            </a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis necessitatibus repellat et similique, assumenda dolor possimus sunt repellendus ratione quas nihil expedita maiores, ex id odio molestiae ipsam officiis magni!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis necessitatibus repellat et similique, assumenda dolor possimus sunt repellendus ratione quas nihil expedita maiores, ex id odio molestiae ipsam officiis magni!</p>
    </div>
</div>
