<section class="sidebar col-md-5 col-sm-12" style="background-image: url(<%-blocks.sidebarImage%>)">

                    <span class="menu-trigger animated fadeInDown">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </span>

    <div class="site-info">
        <div class="primary-info">
            <h1><%=t('layout.sidebar.title') %></h1>
            <p><%=t('layout.sidebar.subtitle') %></p>
            <p>
              <a href="/">Latest entries</a>
            </p>
            <p>
              <a href="/categories/">Categories</a>
            </p>
            <p>
              <a href="/photos/">Photos</a>
            </p>
            <p>
              <a href="/about/">About me</a>
            </p>
        </div>
        <div class="secondary-info">
            <p>
                This website runs on <a href="http://nodejs.org/" target="_blank">Node.js</a>
                with <a href="http://expressjs.com/" target="_blank">Express framework</a>.<br />
                Source files available on <a
                   href="http://github.com/sergpetrenko/homesite/"
                   target="_blank">GitHub</a>.<br />
            </p>
        </div>
    </div>
</section>
