<!DOCTYPE html>
<html class="no-js">
<head>
    <% include partials/head %>
</head>
<body>
<main class="container left-container">
    <div class="row">

        <% include partials/menu %>

        <% include partials/sidebar %>

        <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <div class="sub-nav">
                <a href="#" class="select-posts active"><%=t('layout.nav.posts');%></a>
                <a href="#" class="select-categories">Categories</a>
            </div>

            <% include PostsList/categoryPostsList %>

            <div class="home-page-categories hide animated fadeIn ">
                <div class="category row">
                    <section>
                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Easy Living</h2>
                            <a href="category.html"><img src="img/cover-2.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Adventure</h2>
                            <a href="category.html"><img src="img/cover-4.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Storytime</h2>
                            <a href="category.html"><img src="img/cover-6.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Open Roads</h2>
                            <a href="category.html"><img src="img/cover-9.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Gaming</h2>
                            <a href="category.html"><img src="img/cover-1.jpg" alt="category-image" ></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>City Life</h2>
                            <a href="category.html"><img src="img/cover-3.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Rave Culture</h2>
                            <a href="category.html"><img src="img/cover-5.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Photography</h2>
                            <a href="category.html"><img src="img/cover-7.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Animal Kingdom</h2>
                            <a href="category.html"><img src="img/cover-8.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Beach</h2>
                            <a href="category.html"><img src="img/cover-10.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Climbing</h2>
                            <a href="category.html"><img src="img/cover-11.jpg" alt="category-image"></a>
                        </div>

                        <div class="category-preview col-xs-6 col-sm-4 ">
                            <h2>Mystery</h2>
                            <a href="category.html"><img src="img/cover-12.jpg" alt="category-image"></a>
                        </div>

                    </section>
                </div>
            </div>
            <footer class="split-footer">
                <a href="post.html">About</a>
                <i class="link-spacer"></i>
                <a href="post.html">Writer 2015</a>
            </footer>

        </section><!-- main content -->

    </div> <!--/row -->

</main> <!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/jquery.jpanelmenu.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/fastclick.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>
